* {
  box-sizing: border-box;
}

body{
  font-size: 12px;
  line-height: 18px;
  padding: 0;
}

.siteHeader{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 70;
}

.siteHeader-top{
  background: hsl(210, 8%, 97.5%);
}

.siteHeader-content{
  box-sizing: border-box;
  height: 60px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

@media(min-width: 1220px){
  .siteHeader-content{
    width: 1220px;
  }
}

a{
  text-decoration: none;
}

.siteHeader-logo{
  display: inline-block;
  height: 50px;
  order: initial;
  background-position: center;
  background-size: 140px 30px;
  width: 140px;
  padding-top: 20px;
  font-size: 20px;
  color: #333333;
}

.siteHeader-logo:hover{
  color: #333333;
}

@media(min-width: 1200px){
  .siteHeader-logo{
    margin-right: 0;
  }
}

.siteHeader-content *, .siteHeader-content *:before, .siteHeader-content *:after{
  box-sizing: inherit;
}

.searchBox{
  flex: 1;
  position: relative;
}

.searchBox-navBar{
  display: inline-block;
  margin-bottom: 0px !important;
  margin-top: 10px;
  vertical-align: top;
  flex: 1;
  margin-right: 8px;
}

.searchBox-form{
  width: 100%;
}

.seachBox-input{
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  padding: 8px 26px 8px 8px;
  width: calc(100% - 500px);
}

.seachBox_input-navBar{
  height: 40px;
  flex: 1;
  padding: 4px 26px 4px 8px;
  width: 100%;
}

.searchBox-icon-search{
  background: url(Image/search-icon.svg) no-repeat;
  right: 4px;
  top: 10px;
  border: none;
}

.searchBox-icon{
  display: inline-block;
  height: 19px;
  position: absolute;
  width: 18px;
}

.gr-buttonIcon{
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #767676;
  cursor: pointer;
}

input[type=text]{
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  resize: none;
}

button, input{
  line-height: normal;
}

.siteHeader-personal{
  margin: 0 8px 0 0;
  float: none;
}

ul{
  font-size: 12px;

}

.siteHeader-topItem-signedIn{
  margin-right: 4px;
}

.siteHeader-topItem{
  display: inline-block;
}

.siteHeader-topItem #siteHeader-cart{
  width: 30px;
  height: 30px;
}

.siteHeader-topLink{
  display: inline-block;
  color: #382110;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 50px;
  padding: 6px 15px;
}

@media(min-width: 1200px){
  .siteHeader-topLink{
    padding: 5px 15px;
  }
}

.siteHeader-topLink:hover{
  background-color: #382110;
}

.siteHeader-topItem .siteHeader-language > img{
  padding-left: 10px;
  padding-bottom: 5px;
}

.siteHeader-language > span > img{
  padding-bottom: 5px;
}